<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>专业定制</title>
    <link href="../css/style.css" rel="stylesheet">
    <link href="../css/custom.css" rel="stylesheet">
    <link href="../css/font-awesome.min.css" rel="stylesheet">
    <script src="../js/jquery-3.1.0.js"></script>
    <script src="../js/style.js"></script>
</head>
<body>
<div class="top">
    <div class="inner">
        <div class="top_left">
            <ul class="top_ul">
                <li><img src="../images/line.png"></li>
                <li><a href="#none" class="top_a">收藏本站</a></li>
                <li><img src="../images/line.png"></li>
                <li class="top_a">您好，欢迎光临紫气东方!</li>
                <li><img src="../images/line.png"></li>
                <li><a href="login.html" class="top_b">登 录</a></li>
                <li><img src="../images/line.png"></li>
                <li><a href="signIn.html" class="top_b">免费注册</a></li>
                <li><img src="../images/line.png"></li>
            </ul>
        </div>
        <div class="top_right">
            <ul class="top_ul">
                <li><img src="../images/line.png"></li>
                <li><a href="#none" class="top_a">我的订单</a></li>
                <li><img src="../images/line.png"></li>
                <li class="top_a">手机店铺</li>
                <li><img src="../images/line.png"></li>
                <li><a href="#none" class="top_a">帮助中心<i class="fa fa-angle-down" aria-hidden="true"></i></a></li>
                <li><img src="../images/line.png"></li>
            </ul>
        </div>
    </div>
</div>
<div class="top_search">
    <div class="inner">
        <div class="logo"><a href="#"><img src="../images/icon.png"></a></div>
        <div class="top_s">
            <div class="search">
                <input type="text" class="sea_text" placeholder="请输入关键字"><input type="button" class="sea_sub">
            </div>
            <ul class="sea_ul">
                <li>热门搜索 : </li>
                <li><a href="#">紫砂壶</a></li>
                <li><a href="#">紫砂杯</a></li>
                <li><a href="#">紫砂套装</a></li>
                <li><a href="#">紫砂茶宠</a></li>
                <li><a href="#">彩绘紫砂壶</a></li>
            </ul>
        </div>
        <div class="cart"><a href="#"><i class="fa fa-cart-arrow-down"></i>　购物车 <span>0</span></a> </div>
        <div class="tel"><img src="../images/tel.gif"></div>
    </div>
</div>
<div class="nav">
    <div class="inner">
        <div class="nav_l">
            <div class="nav_left">全部商品 <i class="fa fa-caret-down"></i></div>
            <div class="nav_menu">
                <ul>
                    <li><a href="#">紫砂杯<i class="fa fa-angle-right"></i></a></li>
                    <li><a href="#">礼套<i class="fa fa-angle-right"></i></a></li>
                    <li><a href="#">保温杯<i class="fa fa-angle-right"></i></a></li>
                    <li><a href="#">瓷器<i class="fa fa-angle-right"></i></a></li>
                    <li><a href="#">配件<i class="fa fa-angle-right"></i></a></li>
                    <li><a href="#">茶品<i class="fa fa-angle-right"></i></a></li>
                </ul>
                <div class="menu_count clearfix">
                    <div class="section">
                        <div class="menu_left">
                            <dl class="clearfix">
                                <dt>壶型</dt>
                                <dd><a href="#">西施<span>|</span></a></dd>
                                <dd><a href="#">石瓢<span>|</span></a></dd>
                                <dd><a href="#">秦权<span>|</span></a></dd>
                                <dd><a href="#">仿古<span>|</span></a></dd>
                                <dd><a href="#">井栏<span></span></a></dd>
                                <dd><a href="#">一粒珠<span>|</span></a></dd>
                                <dd><a href="#">如意<span>|</span></a></dd>
                                <dd><a href="#">僧帽<span>|</span></a></dd>
                                <dd><a href="#">掇只</a></dd>
                                <dd><a href="#">掇球<span>|</span></a></dd>
                                <dd><a href="#">茄段<span>|</span></a></dd>
                                <dd><a href="#">竹段<span>|</span></a></dd>
                                <dd><a href="#">寿桃<span>|</span></a></dd>
                                <dd><a href="#">龙旦</a></dd>
                                <dd><a href="#">德中<span>|</span></a></dd>
                                <dd><a href="#">潘壶<span>|</span></a></dd>
                                <dd><a href="#">方器<span>|</span></a></dd>
                                <dd><a href="#">花器</a></dd>
                                <dd><a href="#">其他经典款式</a></dd>
                            </dl>
                            <dl class="clearfix">
                                <dt>容量</dt>
                                <dd><a href="#">200cc以下<span>|</span></a> </dd>
                                <dd><a href="#">201-300cc</a></dd>
                                <dd><a href="#">301-400cc<span>|</span></a> </dd>
                                <dd><a href="#">401-500cc</a></dd>
                                <dd><a href="#">501-600cc<span>|</span></a> </dd>
                                <dd><a href="#">600cc以上</a></dd>
                            </dl>
                        </div>
                        <div class="menu_mid">
                            <dl class="clearfix">
                                <dt>泥料</dt>
                                <dd><a href="#">紫泥<span>|</span></a></dd>
                                <dd><a href="#">朱泥<span>|</span></a></dd>
                                <dd><a href="#">段泥<span>|</span></a></dd>
                                <dd><a href="#">黑泥</a></dd>
                                <dd><a href="#">清水泥<span>|</span></a></dd>
                                <dd><a href="#">底槽清<span>|</span></a></dd>
                                <dd><a href="#">大红袍<span>|</span></a></dd>
                                <dd><a href="#">红皮龙</a></dd>
                                <dd><a href="#">芝麻段<span>|</span></a></dd>
                                <dd><a href="#">本山绿泥<span>|</span></a></dd>
                                <dd><a href="#">红泥</a></dd>
                                <dd><a href="#">超高温紫砂泥<span>|</span></a></dd>
                                <dd><a href="#">绞泥<span>|</span></a></dd>
                                <dd><a href="#">其他泥料</a></dd>
                            </dl>
                        </div>
                        <div class="menu_right">
                            <dl class="clearfix">
                                <dt>价格</dt>
                                <dd><a href="#">100元以下<span>|</span></a></dd>
                                <dd><a href="#">101元-300元</a></dd>
                                <dd><a href="#">301元-500元<span>|</span></a></dd>
                                <dd><a href="#">501元-1000元</a></dd>
                                <dd><a href="#">1001元-2000元<span>|</span></a></dd>
                                <dd><a href="#">2001元-5000元</a></dd>
                                <dd><a href="#">5001元-10000元<span>|</span></a></dd>
                                <dd><a href="#">10000元以上</a></dd>
                            </dl>
                        </div>
                    </div>
                    <div class="section">
                        <div class="menu_left">
                            <dl class="clearfix">
                                <dt>礼套</dt>
                                <dd><a href="#">礼套<span>|</span></a></dd>
                                <dd><a href="#">礼套<span>|</span></a></dd>
                                <dd><a href="#">礼套<span>|</span></a></dd>
                                <dd><a href="#">礼套<span>|</span></a></dd>
                                <dd><a href="#">礼套<span></span></a></dd>
                                <dd><a href="#">一粒珠<span>|</span></a></dd>
                                <dd><a href="#">礼套<span>|</span></a></dd>
                                <dd><a href="#">礼套<span>|</span></a></dd>
                                <dd><a href="#">礼套</a></dd>
                                <dd><a href="#">掇球<span>|</span></a></dd>
                                <dd><a href="#">茄段<span>|</span></a></dd>
                                <dd><a href="#">竹段<span>|</span></a></dd>
                                <dd><a href="#">寿桃<span>|</span></a></dd>
                                <dd><a href="#">龙旦</a></dd>
                                <dd><a href="#">德中<span>|</span></a></dd>
                                <dd><a href="#">潘壶<span>|</span></a></dd>
                                <dd><a href="#">方器<span>|</span></a></dd>
                                <dd><a href="#">花器</a></dd>
                                <dd><a href="#">其他经典款式</a></dd>
                            </dl>
                            <dl class="clearfix">
                                <dt>容量</dt>
                                <dd><a href="#">200cc以下<span>|</span></a> </dd>
                                <dd><a href="#">201-300cc</a></dd>
                                <dd><a href="#">301-400cc<span>|</span></a> </dd>
                                <dd><a href="#">401-500cc</a></dd>
                                <dd><a href="#">501-600cc<span>|</span></a> </dd>
                                <dd><a href="#">600cc以上</a></dd>
                            </dl>
                        </div>
                        <div class="menu_mid">
                            <dl class="clearfix">
                                <dt>泥料</dt>
                                <dd><a href="#">紫泥<span>|</span></a></dd>
                                <dd><a href="#">朱泥<span>|</span></a></dd>
                                <dd><a href="#">段泥<span>|</span></a></dd>
                                <dd><a href="#">黑泥</a></dd>
                                <dd><a href="#">清水泥<span>|</span></a></dd>
                                <dd><a href="#">底槽清<span>|</span></a></dd>
                                <dd><a href="#">大红袍<span>|</span></a></dd>
                                <dd><a href="#">红皮龙</a></dd>
                                <dd><a href="#">芝麻段<span>|</span></a></dd>
                                <dd><a href="#">本山绿泥<span>|</span></a></dd>
                                <dd><a href="#">红泥</a></dd>
                                <dd><a href="#">超高温紫砂泥<span>|</span></a></dd>
                                <dd><a href="#">绞泥<span>|</span></a></dd>
                                <dd><a href="#">其他泥料</a></dd>
                            </dl>
                        </div>
                        <div class="menu_right">
                            <dl class="clearfix">
                                <dt>价格</dt>
                                <dd><a href="#">100元以下<span>|</span></a></dd>
                                <dd><a href="#">101元-300元</a></dd>
                                <dd><a href="#">301元-500元<span>|</span></a></dd>
                                <dd><a href="#">501元-1000元</a></dd>
                                <dd><a href="#">1001元-2000元<span>|</span></a></dd>
                                <dd><a href="#">2001元-5000元</a></dd>
                                <dd><a href="#">5001元-10000元<span>|</span></a></dd>
                                <dd><a href="#">10000元以上</a></dd>
                            </dl>
                        </div>
                    </div>
                    <div class="section">
                        <div class="menu_left">
                            <dl class="clearfix">
                                <dt>保温杯</dt>
                                <dd><a href="#">西施<span>|</span></a></dd>
                                <dd><a href="#">石瓢<span>|</span></a></dd>
                                <dd><a href="#">秦权<span>|</span></a></dd>
                                <dd><a href="#">仿古<span>|</span></a></dd>
                                <dd><a href="#">井栏<span></span></a></dd>
                                <dd><a href="#">一粒珠<span>|</span></a></dd>
                                <dd><a href="#">如意<span>|</span></a></dd>
                                <dd><a href="#">僧帽<span>|</span></a></dd>
                                <dd><a href="#">掇只</a></dd>
                                <dd><a href="#">掇球<span>|</span></a></dd>
                                <dd><a href="#">茄段<span>|</span></a></dd>
                                <dd><a href="#">竹段<span>|</span></a></dd>
                                <dd><a href="#">寿桃<span>|</span></a></dd>
                                <dd><a href="#">龙旦</a></dd>
                                <dd><a href="#">德中<span>|</span></a></dd>
                                <dd><a href="#">潘壶<span>|</span></a></dd>
                                <dd><a href="#">方器<span>|</span></a></dd>
                                <dd><a href="#">花器</a></dd>
                                <dd><a href="#">其他经典款式</a></dd>
                            </dl>
                            <dl class="clearfix">
                                <dt>容量</dt>
                                <dd><a href="#">200cc以下<span>|</span></a> </dd>
                                <dd><a href="#">201-300cc</a></dd>
                                <dd><a href="#">301-400cc<span>|</span></a> </dd>
                                <dd><a href="#">401-500cc</a></dd>
                                <dd><a href="#">501-600cc<span>|</span></a> </dd>
                                <dd><a href="#">600cc以上</a></dd>
                            </dl>
                        </div>
                        <div class="menu_mid">
                            <dl class="clearfix">
                                <dt>泥料</dt>
                                <dd><a href="#">紫泥<span>|</span></a></dd>
                                <dd><a href="#">朱泥<span>|</span></a></dd>
                                <dd><a href="#">段泥<span>|</span></a></dd>
                                <dd><a href="#">黑泥</a></dd>
                                <dd><a href="#">清水泥<span>|</span></a></dd>
                                <dd><a href="#">底槽清<span>|</span></a></dd>
                                <dd><a href="#">大红袍<span>|</span></a></dd>
                                <dd><a href="#">红皮龙</a></dd>
                                <dd><a href="#">芝麻段<span>|</span></a></dd>
                                <dd><a href="#">本山绿泥<span>|</span></a></dd>
                                <dd><a href="#">红泥</a></dd>
                                <dd><a href="#">超高温紫砂泥<span>|</span></a></dd>
                                <dd><a href="#">绞泥<span>|</span></a></dd>
                                <dd><a href="#">其他泥料</a></dd>
                            </dl>
                        </div>
                        <div class="menu_right">
                            <dl class="clearfix">
                                <dt>价格</dt>
                                <dd><a href="#">100元以下<span>|</span></a></dd>
                                <dd><a href="#">101元-300元</a></dd>
                                <dd><a href="#">301元-500元<span>|</span></a></dd>
                                <dd><a href="#">501元-1000元</a></dd>
                                <dd><a href="#">1001元-2000元<span>|</span></a></dd>
                                <dd><a href="#">2001元-5000元</a></dd>
                                <dd><a href="#">5001元-10000元<span>|</span></a></dd>
                                <dd><a href="#">10000元以上</a></dd>
                            </dl>
                        </div>
                    </div>
                    <div class="section">
                        <div class="menu_left">
                            <dl class="clearfix">
                                <dt>瓷器</dt>
                                <dd><a href="#">瓷器<span>|</span></a></dd>
                                <dd><a href="#">瓷器<span>|</span></a></dd>
                                <dd><a href="#">瓷器<span>|</span></a></dd>
                                <dd><a href="#">瓷器<span>|</span></a></dd>
                                <dd><a href="#">瓷器<span></span></a></dd>
                                <dd><a href="#">一粒珠<span>|</span></a></dd>
                                <dd><a href="#">瓷器<span>|</span></a></dd>
                                <dd><a href="#">僧帽<span>|</span></a></dd>
                                <dd><a href="#">掇只</a></dd>
                                <dd><a href="#">掇球<span>|</span></a></dd>
                                <dd><a href="#">茄段<span>|</span></a></dd>
                                <dd><a href="#">竹段<span>|</span></a></dd>
                                <dd><a href="#">寿桃<span>|</span></a></dd>
                                <dd><a href="#">龙旦</a></dd>
                                <dd><a href="#">德中<span>|</span></a></dd>
                                <dd><a href="#">潘壶<span>|</span></a></dd>
                                <dd><a href="#">方器<span>|</span></a></dd>
                                <dd><a href="#">花器</a></dd>
                                <dd><a href="#">其他经典款式</a></dd>
                            </dl>
                            <dl class="clearfix">
                                <dt>容量</dt>
                                <dd><a href="#">200cc以下<span>|</span></a> </dd>
                                <dd><a href="#">201-300cc</a></dd>
                                <dd><a href="#">301-400cc<span>|</span></a> </dd>
                                <dd><a href="#">401-500cc</a></dd>
                                <dd><a href="#">501-600cc<span>|</span></a> </dd>
                                <dd><a href="#">600cc以上</a></dd>
                            </dl>
                        </div>
                        <div class="menu_mid">
                            <dl class="clearfix">
                                <dt>泥料</dt>
                                <dd><a href="#">紫泥<span>|</span></a></dd>
                                <dd><a href="#">朱泥<span>|</span></a></dd>
                                <dd><a href="#">段泥<span>|</span></a></dd>
                                <dd><a href="#">黑泥</a></dd>
                                <dd><a href="#">清水泥<span>|</span></a></dd>
                                <dd><a href="#">底槽清<span>|</span></a></dd>
                                <dd><a href="#">大红袍<span>|</span></a></dd>
                                <dd><a href="#">红皮龙</a></dd>
                                <dd><a href="#">芝麻段<span>|</span></a></dd>
                                <dd><a href="#">本山绿泥<span>|</span></a></dd>
                                <dd><a href="#">红泥</a></dd>
                                <dd><a href="#">超高温紫砂泥<span>|</span></a></dd>
                                <dd><a href="#">绞泥<span>|</span></a></dd>
                                <dd><a href="#">其他泥料</a></dd>
                            </dl>
                        </div>
                        <div class="menu_right">
                            <dl class="clearfix">
                                <dt>价格</dt>
                                <dd><a href="#">100元以下<span>|</span></a></dd>
                                <dd><a href="#">101元-300元</a></dd>
                                <dd><a href="#">301元-500元<span>|</span></a></dd>
                                <dd><a href="#">501元-1000元</a></dd>
                                <dd><a href="#">1001元-2000元<span>|</span></a></dd>
                                <dd><a href="#">2001元-5000元</a></dd>
                                <dd><a href="#">5001元-10000元<span>|</span></a></dd>
                                <dd><a href="#">10000元以上</a></dd>
                            </dl>
                        </div>
                    </div>
                    <div class="section">
                        <div class="menu_left">
                            <dl class="clearfix">
                                <dt>配件</dt>
                                <dd><a href="#">配件<span>|</span></a></dd>
                                <dd><a href="#">配件<span>|</span></a></dd>
                                <dd><a href="#">配件<span>|</span></a></dd>
                                <dd><a href="#">配件<span>|</span></a></dd>
                                <dd><a href="#">配件<span></span></a></dd>
                                <dd><a href="#">一粒珠<span>|</span></a></dd>
                                <dd><a href="#">如意<span>|</span></a></dd>
                                <dd><a href="#">僧帽<span>|</span></a></dd>
                                <dd><a href="#">掇只</a></dd>
                                <dd><a href="#">掇球<span>|</span></a></dd>
                                <dd><a href="#">茄段<span>|</span></a></dd>
                                <dd><a href="#">竹段<span>|</span></a></dd>
                                <dd><a href="#">寿桃<span>|</span></a></dd>
                                <dd><a href="#">龙旦</a></dd>
                                <dd><a href="#">德中<span>|</span></a></dd>
                                <dd><a href="#">潘壶<span>|</span></a></dd>
                                <dd><a href="#">方器<span>|</span></a></dd>
                                <dd><a href="#">花器</a></dd>
                                <dd><a href="#">其他经典款式</a></dd>
                            </dl>
                            <dl class="clearfix">
                                <dt>容量</dt>
                                <dd><a href="#">200cc以下<span>|</span></a> </dd>
                                <dd><a href="#">201-300cc</a></dd>
                                <dd><a href="#">301-400cc<span>|</span></a> </dd>
                                <dd><a href="#">401-500cc</a></dd>
                                <dd><a href="#">501-600cc<span>|</span></a> </dd>
                                <dd><a href="#">600cc以上</a></dd>
                            </dl>
                        </div>
                        <div class="menu_mid">
                            <dl class="clearfix">
                                <dt>泥料</dt>
                                <dd><a href="#">紫泥<span>|</span></a></dd>
                                <dd><a href="#">朱泥<span>|</span></a></dd>
                                <dd><a href="#">段泥<span>|</span></a></dd>
                                <dd><a href="#">黑泥</a></dd>
                                <dd><a href="#">清水泥<span>|</span></a></dd>
                                <dd><a href="#">底槽清<span>|</span></a></dd>
                                <dd><a href="#">大红袍<span>|</span></a></dd>
                                <dd><a href="#">红皮龙</a></dd>
                                <dd><a href="#">芝麻段<span>|</span></a></dd>
                                <dd><a href="#">本山绿泥<span>|</span></a></dd>
                                <dd><a href="#">红泥</a></dd>
                                <dd><a href="#">超高温紫砂泥<span>|</span></a></dd>
                                <dd><a href="#">绞泥<span>|</span></a></dd>
                                <dd><a href="#">其他泥料</a></dd>
                            </dl>
                        </div>
                        <div class="menu_right">
                            <dl class="clearfix">
                                <dt>价格</dt>
                                <dd><a href="#">100元以下<span>|</span></a></dd>
                                <dd><a href="#">101元-300元</a></dd>
                                <dd><a href="#">301元-500元<span>|</span></a></dd>
                                <dd><a href="#">501元-1000元</a></dd>
                                <dd><a href="#">1001元-2000元<span>|</span></a></dd>
                                <dd><a href="#">2001元-5000元</a></dd>
                                <dd><a href="#">5001元-10000元<span>|</span></a></dd>
                                <dd><a href="#">10000元以上</a></dd>
                            </dl>
                        </div>
                    </div>
                    <div class="section">
                        <div class="menu_left">
                            <dl class="clearfix">
                                <dt>茶品</dt>
                                <dd><a href="#">茶品<span>|</span></a></dd>
                                <dd><a href="#">茶品<span>|</span></a></dd>
                                <dd><a href="#">茶品<span>|</span></a></dd>
                                <dd><a href="#">茶品<span>|</span></a></dd>
                                <dd><a href="#">茶品<span></span></a></dd>
                                <dd><a href="#">一粒珠<span>|</span></a></dd>
                                <dd><a href="#">如意<span>|</span></a></dd>
                                <dd><a href="#">僧帽<span>|</span></a></dd>
                                <dd><a href="#">掇只</a></dd>
                                <dd><a href="#">掇球<span>|</span></a></dd>
                                <dd><a href="#">茄段<span>|</span></a></dd>
                                <dd><a href="#">竹段<span>|</span></a></dd>
                                <dd><a href="#">寿桃<span>|</span></a></dd>
                                <dd><a href="#">龙旦</a></dd>
                                <dd><a href="#">德中<span>|</span></a></dd>
                                <dd><a href="#">潘壶<span>|</span></a></dd>
                                <dd><a href="#">方器<span>|</span></a></dd>
                                <dd><a href="#">花器</a></dd>
                                <dd><a href="#">其他经典款式</a></dd>
                            </dl>
                            <dl class="clearfix">
                                <dt>容量</dt>
                                <dd><a href="#">200cc以下<span>|</span></a> </dd>
                                <dd><a href="#">201-300cc</a></dd>
                                <dd><a href="#">301-400cc<span>|</span></a> </dd>
                                <dd><a href="#">401-500cc</a></dd>
                                <dd><a href="#">501-600cc<span>|</span></a> </dd>
                                <dd><a href="#">600cc以上</a></dd>
                            </dl>
                        </div>
                        <div class="menu_mid">
                            <dl class="clearfix">
                                <dt>泥料</dt>
                                <dd><a href="#">紫泥<span>|</span></a></dd>
                                <dd><a href="#">朱泥<span>|</span></a></dd>
                                <dd><a href="#">段泥<span>|</span></a></dd>
                                <dd><a href="#">黑泥</a></dd>
                                <dd><a href="#">清水泥<span>|</span></a></dd>
                                <dd><a href="#">底槽清<span>|</span></a></dd>
                                <dd><a href="#">大红袍<span>|</span></a></dd>
                                <dd><a href="#">红皮龙</a></dd>
                                <dd><a href="#">芝麻段<span>|</span></a></dd>
                                <dd><a href="#">本山绿泥<span>|</span></a></dd>
                                <dd><a href="#">红泥</a></dd>
                                <dd><a href="#">超高温紫砂泥<span>|</span></a></dd>
                                <dd><a href="#">绞泥<span>|</span></a></dd>
                                <dd><a href="#">其他泥料</a></dd>
                            </dl>
                        </div>
                        <div class="menu_right">
                            <dl class="clearfix">
                                <dt>价格</dt>
                                <dd><a href="#">100元以下<span>|</span></a></dd>
                                <dd><a href="#">101元-300元</a></dd>
                                <dd><a href="#">301元-500元<span>|</span></a></dd>
                                <dd><a href="#">501元-1000元</a></dd>
                                <dd><a href="#">1001元-2000元<span>|</span></a></dd>
                                <dd><a href="#">2001元-5000元</a></dd>
                                <dd><a href="#">5001元-10000元<span>|</span></a></dd>
                                <dd><a href="#">10000元以上</a></dd>
                            </dl>
                        </div>
                    </div>
                    <div class="section">
                        <div class="menu_left">
                            <dl class="clearfix">
                                <dt>壶型</dt>
                                <dd><a href="#">西施<span>|</span></a></dd>
                                <dd><a href="#">石瓢<span>|</span></a></dd>
                                <dd><a href="#">秦权<span>|</span></a></dd>
                                <dd><a href="#">仿古<span>|</span></a></dd>
                                <dd><a href="#">井栏<span></span></a></dd>
                                <dd><a href="#">一粒珠<span>|</span></a></dd>
                                <dd><a href="#">如意<span>|</span></a></dd>
                                <dd><a href="#">僧帽<span>|</span></a></dd>
                                <dd><a href="#">掇只</a></dd>
                                <dd><a href="#">掇球<span>|</span></a></dd>
                                <dd><a href="#">茄段<span>|</span></a></dd>
                                <dd><a href="#">竹段<span>|</span></a></dd>
                                <dd><a href="#">寿桃<span>|</span></a></dd>
                                <dd><a href="#">龙旦</a></dd>
                                <dd><a href="#">德中<span>|</span></a></dd>
                                <dd><a href="#">潘壶<span>|</span></a></dd>
                                <dd><a href="#">方器<span>|</span></a></dd>
                                <dd><a href="#">花器</a></dd>
                                <dd><a href="#">其他经典款式</a></dd>
                            </dl>
                            <dl class="clearfix">
                                <dt>容量</dt>
                                <dd><a href="#">200cc以下<span>|</span></a> </dd>
                                <dd><a href="#">201-300cc</a></dd>
                                <dd><a href="#">301-400cc<span>|</span></a> </dd>
                                <dd><a href="#">401-500cc</a></dd>
                                <dd><a href="#">501-600cc<span>|</span></a> </dd>
                                <dd><a href="#">600cc以上</a></dd>
                            </dl>
                        </div>
                        <div class="menu_mid">
                            <dl class="clearfix">
                                <dt>泥料</dt>
                                <dd><a href="#">紫泥<span>|</span></a></dd>
                                <dd><a href="#">朱泥<span>|</span></a></dd>
                                <dd><a href="#">段泥<span>|</span></a></dd>
                                <dd><a href="#">黑泥</a></dd>
                                <dd><a href="#">清水泥<span>|</span></a></dd>
                                <dd><a href="#">底槽清<span>|</span></a></dd>
                                <dd><a href="#">大红袍<span>|</span></a></dd>
                                <dd><a href="#">红皮龙</a></dd>
                                <dd><a href="#">芝麻段<span>|</span></a></dd>
                                <dd><a href="#">本山绿泥<span>|</span></a></dd>
                                <dd><a href="#">红泥</a></dd>
                                <dd><a href="#">超高温紫砂泥<span>|</span></a></dd>
                                <dd><a href="#">绞泥<span>|</span></a></dd>
                                <dd><a href="#">其他泥料</a></dd>
                            </dl>
                        </div>
                        <div class="menu_right">
                            <dl class="clearfix">
                                <dt>价格</dt>
                                <dd><a href="#">100元以下<span>|</span></a></dd>
                                <dd><a href="#">101元-300元</a></dd>
                                <dd><a href="#">301元-500元<span>|</span></a></dd>
                                <dd><a href="#">501元-1000元</a></dd>
                                <dd><a href="#">1001元-2000元<span>|</span></a></dd>
                                <dd><a href="#">2001元-5000元</a></dd>
                                <dd><a href="#">5001元-10000元<span>|</span></a></dd>
                                <dd><a href="#">10000元以上</a></dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ul class="nav_ul">
            <li><a href="../index.html">商品首页</a></li>
            <li><a href="new.html">新品上市</a></li>
            <li><a href="price.html">热卖商品</a></li>
            <li><a href="#">名家收藏</a></li>
            <li><a href="custom.html">专业定制</a></li>
            <li><a href="wholesale.html">商品批发</a></li>
            <li><a href="brand.html">品牌文化</a></li>
            <li><a href="culture.html#">紫砂百科</a></li>
            <li><a href="#">积分商城</a></li>
        </ul>

    </div>
</div>
<div class="banner">
    <div class="banner_b"><a href="#"><img src="../images/custom.jpg"></a></div>
</div>
<div class="main">
    <div class="inner_in">
        <div class="new_ads">
            <p>专业定制</p>
            <span><a href="#">首页</a>　>　<a href="#">专业定制</a>　>　<a href="#">定制服务</a> </span>
        </div>
        <div class="cus_custom clearfix">
            <div class="cus_left">
                <h3>专业定制</h3>
                <ul>
                    <li><a href="custom.html" class="cus_act">>　定制服务</a> </li>
                    <li><a href="flow.html">>　定制流程</a> </li>
                    <li><a href="#">>　成功案例</a> </li>
                    <li><a href="#">>　我要订制</a> </li>
                    <li><a href="#">>　售后服务</a> </li>
                </ul>
                <div class="cus_pic"><img src="../images/w211-pic.jpg"></div>
            </div>
            <div class="cus_right">
                <h3>温馨提示</h3>
                <br>
                <p>1、紫气东方主要提供定单式生产与定制业务，限企业机构或个人定量批发团购与定制生产。如果
                    您选中网站展示的某款产品，或需要设计定制产品，需要了解具体价格与工期等,请联系我们为您
                    初步估算，在确定明确的合作意向后我们会为您进行专业定制服务。<br><br>
                    2、由于定制数量、包装、制作工艺要求不同，以及原材料价格的波动、工期要求的长短，产品定
                    制价格会随之变动，所以我们没有在网站上标明具体定制价格，敬请谅解。<br><br>

                    3、在您与客服人员初步沟通时，请将您对产品的大体要求、您所需要的订货数量、印刷及包装要
                    求、交货时间及地点、您的公司名称以及联系方式通过电话或在线客户服务软件告知，以便于我们
                    能根据您的预算及要求，高效地为您策划最佳的产品生产与组合方案。<br><br>

                    4、所有初步的合作意向，您在与我们电话沟通后，均可约定时间，我们可以第一时间送样上门与
                    您进一步沟通与最终确认。<br><br>

                    5、为了给真正的终端客户提供良好的服务，紫气东方谢绝部分公司与个人，以套取产品定制方
                    案、骗取样品为目的的虚假合作，感谢您的理解与支持。</p>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <div class="foot_t">
        <!--广告位信息-->
        <div class="ads2"><a href="#"><img src="../images/ad3.jpg"></a></div>
        <!--底部的帮助中心-->
        <div class="help">
            <dl class="dl">
                <dt>购物指南</dt>
                <dd><a href="#">购物流程</a></dd>
                <dd><a href="#">会员介绍</a></dd>
                <dd><a href="#">常见问题</a></dd>
                <dd><a href="#">联系客服</a></dd>
            </dl>
            <dl class="dl">
                <dt>配送方式</dt>
                <dd><a href="#">上门自提</a></dd>
                <dd><a href="#">快递运输</a></dd>
                <dd><a href="#">快递查询</a></dd>
                <dd><a href="#">收费标准</a></dd>
            </dl>
            <dl class="dl">
                <dt>支付方式</dt>
                <dd><a href="#">货到付款</a></dd>
                <dd><a href="#">在线支付</a></dd>
                <dd><a href="#">邮局汇款</a></dd>
                <dd><a href="#">银行转账</a></dd>
            </dl>
            <dl class="dl">
                <dt>售后服务</dt>
                <dd><a href="#">售后保障</a></dd>
                <dd><a href="#">价格保护</a></dd>
                <dd><a href="#">退款说明</a></dd>
                <dd><a href="#">退换商品</a></dd>
            </dl>
            <dl class="dl">
                <dt>优惠信息</dt>
                <dd><a href="#">我的积分</a></dd>
                <dd><a href="#">积分使用说明</a></dd>
                <dd><a href="#">我的优惠券</a></dd>
                <dd><a href="#">优惠券使用说明</a></dd>
            </dl>
            <dl class="dl">
                <dt>特色服务</dt>
                <dd><a href="#">专业定制</a></dd>
                <dd><a href="#">上门服务</a></dd>
                <dd><a href="#">免费样品</a></dd>
                <dd><a href="#">维修服务</a></dd>
            </dl>
        </div>
        <!--返回首页-->
        <div class="f_1"><a  href="#"><img src="../images/back.jpg"></a></div>
    </div>
    <div class="foot_b">
        <div class="f_2"></div>
        <p class="f_3"><a href="#">专业定制</a><span>-</span><a href="#">关于我们</a><span>-</span><a href="#">联系我们</a><span>-</span><a href="#">人才招聘</a><span>-</span><a href="#">淘宝店铺</a></p>
        <p>版权所有：2013 紫气东方 京ICP备 09102241号-1</p>
        <p>在线客服：<a href="#" class="f_4"><img src="../images/pa.jpeg"></a>102162438</p>
        <p>官方微信 :</p>
        <div class="f_5">
            <div class="p_1"><img src="../images/ewm_1.jpg"></div>
            <div class="p_1"><img src="../images/ewm_2.jpg"></div>
        </div>
        <div class="f_6">
            <div class="p_2"><img src="../images/ft1.jpg"></div>
            <div class="p_2"><img src="../images/ft2.jpg"></div>
            <div class="p_2"><img src="../images/ft3.jpg"></div>
            <div class="p_2"><img src="../images/ft4.jpg"></div>
        </div>
    </div>

</div>
</body>
</html>